<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>415789243347763</string>
	<key>Study Title</key>
	<string>BUDI</string>
	<key>Team Name</key>
	<string>StanfordByers Center for Biodesign</string>
	<key>Email</key>
	<string>blynns@stanford.edu</string>
	<key>Phone</key>
	<string>412-216-2424</string>
	<key>Copyright</key>
	<string>Made at Stanford with ❤️</string>
	<key>Website</key>
	<string>https://profiles.stanford.edu/blynn</string>
	<key>Tint Color</key>
	<string>#1AAF54</string>
	<key>Primary Color</key>
	<string>#1AAF54</string>
	<key>Accent Color</key>
	<string>#979CE9</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the Developer Health Research Study.</string>
	<key>Consent File Name</key>
	<string>My Consent Form</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completion Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completion Step Text</key>
	<string>This step concludes the onboarding and consent process of the CardinalKit framework. Next up, you will see main app functionality.</string>
	<key>Failed Login Title</key>
	<string>Unable to Login 😔</string>
	<key>Failed Login Text</key>
	<string>Please try again in five minutes.</string>
	<key>Health Permissions Title</key>
	<string>Permission to read Activity Data 🏃🏽‍♀️</string>
	<key>Health Permissions Text</key>
	<string>BUDI will ask for 1) your type of motor impairment, 2) your motion data, and 3) your Apple Health Data. This will help the BUDI team better understand how the digital platform affects various motor deficits seen in cerebral palsy and neuromuscular disorders.</string>
	<key>Health Records</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Permissions Text</key>
		<string></string>
		<key>Permissions Title</key>
		<string>Permission to read Health Records 🏥</string>
	</dict>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Sign In Screen</key>
	<dict>
		<key>Label Font Size</key>
		<integer>35</integer>
		<key>Label Text</key>
		<string>Sign in to BUDI</string>
	</dict>
	<key>Login-Sign-In-With-Facebook</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Login-Sign-In-With-Google</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Login-Sign-In-With-UserPassword</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Login-Sign-In-With-Apple</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Title</key>
		<string>Sign in with Apple</string>
		<key>Text</key>
		<string>Sign in using your Apple ID is fast and easy, and Apple will not track any of your activities.</string>
	</dict>
	<key>Login-Passwordless</key>
	<false/>
	<key>Login Step Title</key>
	<string>Almost done!</string>
	<key>Login Step Text</key>
	<string>We need to confirm your email address and send you a copy of the consent you just signed.</string>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from the study will reset the app to the state it was in prior to you originally joining the study.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for your contribution to this study. We are sorry that you could not continue. The app will now close.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>Research Health Study Consent Form</string>
	<key>Use CareKit</key>
	<true/>
	<key>HealthKit Data to Read</key>
	<array>
		<string>StepCount</string>
		<string>DistanceWalkingRunning</string>
		<string>FlightsClimbed</string>
		<string>HeartRate</string>
	</array>
	<key>Consent Form</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Title</key>
			<string>Under 18?</string>
			<key>Summary</key>
			<string>Please have this consent form reviewed &amp; signed by a parent or guardian before using BUDI.

If you are a parent or guardian reviewing &amp; signing this consent document on behalf of your child, the language “you” herein refers to your child.</string>
			<key>Content</key>
			<string>Please have this consent form reviewed &amp; signed by a parent or guardian before using BUDI.

If you are a parent or guardian reviewing &amp; signing this consent document on behalf of your child, the language “you” herein refers to your child.</string>
		</dict>
		<key>Overview</key>
		<dict>
			<key>Title</key>
			<string>Hi there! 👋🏽</string>
			<key>Summary</key>
			<string>The Biofeedback Upper-Limb Device for Impairment (BUDI) is an Apple Watch &amp; iPhone application designed to help children with motor disabilities with therapy &amp; mobility.</string>
			<key>Content</key>
			<string>You are invited to participant in testing the beta version of the Biofeedback Upper-Limb Device for Impairment (BUDI).  BUDI is an Apple Watch &amp; iPhone application designed to help children with motor disabilities with therapy &amp; mobility.  You were selected as a possible participant because you (1) have a diagnosis of cerebral palsy or (2) are a healthy volunteer aged 5-60 and can provide feedback regarding the user experience for remote therapy.  BUDI creates a digital platform to facilitate remote upper limb therapy &amp; motivate you to reach a daily therapy goal.  This is particularly important for children with cerebral palsy and others with hemiparetic neurological injuries who require daily therapy to improve upper limb function.  You could think of BUDI as a daily therapy goal; perhaps your “therapy ring” for Apple Watch. 

For simplicity, BUDI approaches a therapy goal as a combination of gross motor therapy &amp; fine motor therapy.  Gross motor therapy is measured on BUDI by starting a therapy on your Apple Watch application &amp; practicing stretching your upper extremity as you do in occupational &amp; physical therapy. Fine motor therapy is measured by completing Finger &amp; Dexterity ActiveTasks designed by Apple Health on your iPhone application. 

Accordingly, BUDI uses sensors from Apple Watch &amp; tools from open-source Apple databases like CardinalKit, ResearchKit, CareKit, &amp; HealthKit to obtain objective measures of gross motor therapy (CoreMotion &amp; Workouts) and fine motor therapy (via ActiveTasks &amp; dexterity games) to provide biofeedback on daily arm usage, “gameify” rehabilitation, and ultimately encourage mobility to prevent adverse musculoskeletal outcomes.</string>
		</dict>
		<key>DataGathering</key>
		<dict>
			<key>Title</key>
			<string>Data Gathering</string>
			<key>Summary</key>
			<string>BUDI will ask for 

1) your type of motor impairment,

2) your motion data, and

3) your Apple Health Data.</string>
			<key>Content</key>
			<string>BUDI will first ask you questions about you questions about your physical condition. This will help the BUDI team better understand how the digital platform affects various motor deficits seen in cerebral palsy and neuromuscular disorders.

Next, BUDI will ask to access your Motion Hardware Data. This will allow the BUDI team to build interactive, real-time therapeutic environments and detect therapeutic movements in your therapy sessions. BUDI will also ask to access your Apple Health Data in order to store your therapy sessions and document your trends over time you and your healthcare providers.</string>
		</dict>
		<key>Privacy</key>
		<dict>
			<key>Title</key>
			<string>Privacy &amp; Data Use</string>
			<key>Summary</key>
			<string>Only the BUDI Team and those who you authorize will be able to access your data. BUDI will use your motion &amp; health data to help design the best digital solution for pediatric rehabilitation therapy.</string>
			<key>Content</key>
			<string>The data collected in the BUDI Apple Watch &amp; iPhone applications may be used only by the BUDI team and parties authorized to see data stored in the Apple Health App for the purposes of understanding the potential benefits of a remote therapy iOS/watchOS platform and improving the user interface/user experience. Your identity and/or your personal health information will not be disclosed except as authorized by you or as required by law. However, there is always some risk that even de-identified information might be re-identified. Patient information may be provided to Federal and other regulatory agencies as required.</string>
		</dict>
		<key>StudySurvey-disabled for now</key>
		<dict>
			<key>Title</key>
			<string>BUDI Onboarding Survey</string>
			<key>Summary</key>
			<string>Welcome to BUDI! Before we can get start, we would like you to answer a few questions and tell us more about you.</string>
			<key>Content</key>
			<string></string>
		</dict>
		<key>StudyTasks</key>
		<dict>
			<key>Title</key>
			<string>Study Tasks</string>
			<key>Summary</key>
			<string>The study tasks are related to
 
1) Gross Motor Therapy and

2) Fine Motor Therapy.</string>
			<key>Content</key>
			<string>The study tasks are related to 

1) Gross Motor Therapy and

2) Fine Motor Therapy.</string>
		</dict>
		<key>Withdrawing</key>
		<dict>
			<key>Title</key>
			<string>Withdrawing</string>
			<key>Summary</key>
			<string>Using BUDI is entirely voluntary. You can stop any time!</string>
			<key>Content</key>
			<string>Your participation in this study is entirely voluntary. Your decision whether or not to participate will not prejudice you or your medical care. If you decide to participate, you are free to withdraw your consent and to discontinue participation at any time without prejudice to you or effect on your medical care. If you first agree to participate and then you change your mind, you are free to withdraw your consent and discontinue your participation at any time. Your decision will not affect your ability to receive medical care for your disease and you will not lose any benefits to which you would otherwise be entitled. The BUDI may also revoke your access to BUDI without your consent for one or more of the following reasons: Failure to follow the instructions of the BUDI team, The BUDI team decides that continuing your participation 
could be harmful to you, Pregnancy, You need treatment not allowed while using BUDI, The BUDI beta version development ends, Other administrative reasons, Unanticipated circumstances.</string>
		</dict>
		<key>TimeCommitment</key>
		<dict>
			<key>Title</key>
			<string>Time &amp; Financial Commitment</string>
			<key>Summary</key>
			<string>BUDI aims to collect your mobility data and therapy trends for 2-3 months. Users should aim to use BUDI for 5-60 minutes every day. The BUDI beta version is being offered free of any fees. You are welcome to use BUDI as often as you would like during this time period. You will not receive any compensation for your participation in the BUDI beta version testing.</string>
			<key>Content</key>
			<string>BUDI aims to collect your mobility data and therapy trends for 2-3 months. Users should aim to use BUDI for 5-60 minutes every day. The BUDI beta version is being offered free of any fees. You are welcome to use BUDI as often as you would like during this time period. You will not receive any compensation for your participation in the BUDI beta version testing.</string>
		</dict>
	</dict>
	<key>Onboarding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Welcome to BUDI!</string>
			<key>Description</key>
			<string>Your new pal for therapy.  </string>
			<key>Logo</key>
			<string>budi-art</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Watch-Driven Therapy</string>
			<key>Description</key>
			<string>Make therapy fun with your Apple Watch.</string>
			<key>Logo</key>
			<string>green-watch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Track Your Progress</string>
			<key>Description</key>
			<string>Schedule therapy, track progress, and stay motivated!</string>
			<key>Logo</key>
			<string>progress</string>
		</dict>
	</array>
	<key>Use Cloud Surveys</key>
	<false/>
</dict>
</plist>
